.trolley {
    height: 50px;
    margin: 5px;
}

footer {
    position: relative;
    bottom: 0;
    height: 30px;
}

.stickyFooterExcluder {
    min-height: calc(100vh - 80px);
}

h1 {
    margin: 0;
    padding: 20px 0;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    min-width: 970px;
}

.searchAndFilterColumn {
    padding: 0;
}

.filterColumn {
    margin-top: 50px;
}

.searchButton {
    padding: 5px 5px;
}

.searchInput {
    height: 32px;
    outline: 0;
}

a:hover {
    text-decoration: none;
    color: black;
}

.ReturnToHome {
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 5px;
}

.searchForm {
  padding: 0;
}

.ReturnToHome a {
    color: #FFFFFF;
    font-size: 12px;
}

.individualBookImage {
    background-color: #a94442;
    height: 500px;
}

.bookImage {
    max-width: 100%;
}

.individualBookTitle {
    background-color: #5bc0de;
    height: 75px;
}

.individualBookDescription {
    height: 350px;
    background-color: #5bc0de;
}
.individualBookDescriptionHeader h3 {
    margin: 0;
    line-height: 75px;
}

.individualBookPrice {
    background-color: #2b542c;
}

.individualBookAddToCart {
    background-color: #c7254e;
    text-align: center;
}

.priceCart {
    padding-top: 5px;
}